* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Asap !important;
}

/* start header */

.header {
  width: 100%;
  display: flex;
  margin-top: 50px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  width: 20%;
}

.logo img {
  text-align: center;
  width: 70px;
}

.header-link {
  width: 100%;
  display: flex;
  align-items: center;
}

.header-link ul {
  list-style: none;
}

.header-link ul li {
  padding-left: 15px;
  padding: 10px;
  margin-right: 18px;
  padding-top: 0px;
}

.header-link ul li a {
  font-size: 17px;
  color: #2D474D;
  font-family: Asap;
}

.header-link ul li a:hover {
  text-decoration: none;
}

.header-link-list {
  width: 80%;
  display: flex;
}

.header-icon {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-icon-item {
  margin-right: 22px;
  padding-bottom: 15px;
  font-size: 18px;
}

.header-icon-item a {
  color: #12282D;
}

.header-icon-item a i {
  color: #12282D;
}

/* end header */

/*start background image*/
/* body {
  background-image: url('../Image/BigImage/bimac16.png'), url('../Image/SharedImage/ImageFlower.png');
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: right, left -10% bottom -15px;
  background-size: 38% 100%, 29% 56%;
} */
/*end background image*/


/*start center image*/
.center-image img {
  margin-top: 40px;
  width: 100%;
}

/*end center image*/

/*start center content area*/
.center-content-area {
  position: absolute;
  top: 30%;
  left: 8%;
  right: 8%;
}

.center-content-area-image {
  text-align: right;
}

.center-content-area-image img {
  width: 280px;
  margin-right: 10%;
}

.center-content-area-box {
  padding: 80px 100px 400px 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  width: 60%;
}

.center-content-area-box-tintuc {
  padding: 300px 0px 400px 100px;
  width: 40%;
}

.center-content-area-box .dieukhoan {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #102F36;
  text-align: justify;
}

.center-content-area-box .dieukhoantext {
  font-size: 15px;
  line-height: 25px;
  color: #102F36;
  text-align: justify;
}

.center-content-area-box h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #102F36;
  text-align: justify;
}

.center-content-area-box h2 {
  font-style: normal;
  font-weight: normal;
  color: #E1B382;
  font-size: 22px;
  line-height: 40px;
}

.center-content-area-box h1 {
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  color: #102F36;
  line-height: 50px;
}

.center-content-area-box .back {
  width: 100%;
  text-align: right;
}

.center-content-area-box .back img {
  width: 18px;
  margin-bottom: 3px;
}

.chinh-sach-bao-hanh img {
  margin: 40px 0px 40px 0px;
  width: 100%;
}

.center-content-area-box-tintuc h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  color: #000000;
}
.center-content-area-box-tintuc span {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 45px;
  color: #E1B382;
  text-align: justify;
}
.center-content-area-box-tintuc .icon{
  margin-top: 60px;
}
.center-content-area-box-tintuc .icon img{
  margin-right: 20px;
  width: 25px;
}

/*end center content area*/



/* start footer */
.footer {
  margin-top: 1200px;
  width: 100%;
  height: 250px;
  background-color: #2D474D;
  color: white;
}

.contain-detail {
  padding-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-detail img {
  padding-top: 12px;
  width: 90px;
  height: 80px;
}

.info-detail h4 {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 20px;
}

.info-detail ul {
  list-style: none;
}

.info-detail ul li {
  padding-bottom: 7px;
}

.info-detail ul li a {
  font-size: 15px;
  cursor: pointer;
}

/*end footer */