* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: Asap !important;
}
/* start header */

.header{
  width: 100%;
  display: flex;
  margin-top: 50px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo {
  width: 20%;
}
.logo img {
 text-align: center;
 width: 70px;
}
.header-link {
  width: 60%;
  display: flex;
  align-items: center;
}
.header-link ul{
  list-style: none;
}
.header-link ul li{
  padding-left: 15px;
  padding: 10px;
  margin-right: 18px;
  padding-top: 0px;
}
.header-link ul li a{
  font-size: 17px;
  color: #2D474D;
  font-family: Asap;
}
.header-link ul li a:hover{
  text-decoration: none;
}
.header-link-list{
  width: 80%;
  display: flex;
}
.header-icon {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-icon-item {
  margin-right: 22px;
  padding-bottom: 15px;
  font-size: 18px;
}
.header-icon-item a{
  color: #12282D;
}
.header-icon-item a i{
  color: white;
}
/* end header */

/*start background image*/
body {
  background-image: url('../Image/BigImage/bimac23.png'), url('../Image/SharedImage/ImageFlower.png');
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: right, left -10% bottom -15px;
  background-size: 38% 100%, 29% 56%;
}
/*end background image*/


/*start center text*/
.center-text{
  position: absolute;
  top: 30%;
  left: 8%;
  width: 40%;
}
.center-text h2{
  color: #FB8888;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 2%;
  line-height: 50px;
}
.center-text span{
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: rgba(126, 133, 142, 0.6);
}
.center-text a{    
  margin-top: 30px;
    padding: 6px 45px;
    height: 45px;
    background: #FB8888;
    box-shadow: 50px 50px 100px rgba(45, 71, 77, 0.25);
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    border-radius: 0px;
    border: 0px;
}
/*end center text*/

/*start center image*/
.center-image{
  position: absolute;top: 21%;
  right: 22%;
}
.center-image img{    
  height: 24vw;
  /* box-shadow: 5px 6px 30px 8px #2c3e50; */
  box-shadow: 0px 0px 83px rgba(0, 0, 0, 0.5);
}
/*end center image*/


/*start bottom link*/
.bottom-link{    
  display: flex;
  position: absolute;
  bottom: 0px;
  background-color: rgba(196, 196, 196, 0.5);
  width: 100%;
  right: 0px;
  width: 38%;
  text-decoration: none;
}
.bottom-link-image img{
  height: 100px;
  width: 100px;
}
.bottom-link-text{
  height: 100px;
  width: 100%;
  display: flex;
}
.bottom-link-text span{
  width: 130%;
    margin-top: 39px;
    margin-left: 30px;
  color: white;
}
.bottom-link-text-icon{
  width:100%;
  height: 100px;
}
.bottom-link-text-icon img{
  height: 19px;    
  margin-top: 39px;
}
.bottom-link:hover{
  text-decoration: none;
  background-color: rgba(181, 181, 181, 0.5);
}
/*end bottom link*/


/*start bottom-left-area*/
.bottom-left-area{
    bottom: 0px;
    position: absolute;
    left: 0px;
    padding-left: 8%;    
    height: 80px;
    display: flex;
    width: 62%;
}
.bottom-left-area-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bottom-left-area-left-item {
  margin-right: 22px;
  padding-bottom: 42px;
  font-size: 18px;
}
.bottom-left-area-left-item img{    
  height: 18px;
}
.bottom-left-area-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;
  width: 70%;
}
.bottom-left-area-right div{
  width: 150px;
  background-color: #bdc3c7;
  height: 3px;   
  margin-right: 8px;
}
.bottom-left-area-right .active{
  background-color: black;
}
/*end bottom-left-area*/